import { createRootRoute, createRoute, createRouter } from "@tanstack/react-router"
import { Layout } from "./components/Layout"
import { HomePage } from "./pages/Home"

const rootRoute = createRootRoute({
  component: Layout,
})

const homeRoute = createRoute({
  getParentRoute: () => rootRoute,
  path: "/",
  component: HomePage,
})

const dashboardRoute = createRoute({
  getParentRoute: () => rootRoute,
  path: "/dashboard",
  component: () => <div>Dashboard (TODO)</div>,
})

export const routeTree = rootRoute.addChildren([homeRoute, dashboardRoute])
